# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python
~$*
??=???=?
.DS_Store
docs/sphinx/*2.md
docs/sphinx/_build/*/*2.doctree
docs/sphinx/_build/*/*/*2.png
docs/sphinx/_build
notebooks_lab/*2.ipynb
notebooks/geog0111/__pycache__/*
docs/_*
notebooks_bak/*
notebooks_lab_bak/*
notebooks/work/*
*.icloud
*.swp
data/ucl
data/*txt
work/????
*.bak
*log*
data/lai_filelist_2016.dat.txt
notebooks/work/uk_lai_2018.db
notebooks/work/*.hdf
work/*
notebooks/work/*html
xx
.db.*
????.??.??
data/lai_data_*.npz
#data/TM_WORLD_BORDERS-0.3.dbf
#data/TM_WORLD_BORDERS-0.3.prj
#data/TM_WORLD_BORDERS-0.3.shp
#data/TM_WORLD_BORDERS-0.3.shx
MCD15A3H*
*.vrt
backup*
work/bin
work/images
work/data
work/geog0111
info.py
site
notebooks/OneDrive/*
notebooks/OneDrive
#notebooks_*/*
#notebooks_*
build
dist
*egg-info
*egg
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# End of https://www.toptal.com/developers/gitignore/api/python

